# install and build folder
node_modules/
build/
# code editor
**/.vscode/
# log files
**/*.log
# env variables used for tokens
.env
# not unit or integration tests - just personal testing
src/testing.ts